<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>HBase Time Series Index</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:fragment="navbarFragment">
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}">cfHunt</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a th:href="@{/}">Home</a></li>
          <li class="active"><a th:href="@{/contest}">Contest</a></li>
          <li><a th:href="@{/problem}">Problem</a></li>
          <li><a th:href="@{/user}">User</a></li>
          <li><a th:href="@{/about}">About</a></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->

  <div th:if="${message != null}" class="alert alert-success" th:text="${message}"></div>

</div>


<div th:fragment="footerFragment">
  <div id="footer">
    <div class="container">
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><a th:href="@{/}">Home</a></li>
          <li><a th:href="@{/}">Help</a></li>
        </ul>
      </div>
      <div class="col-md-9">
        <span>&copy; Copyright 2016</span>
      </div>
    </div>
  </div>

  <script th:src="@{/js/common.js}"></script>
</div>


</body>
</html>