<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>HBase Time Series Index</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:fragment="navbarFragment">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#main_navbar_items">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img th:src="@{/public/logo.svg}"/>
        </a>
      </div>
      <div class="main_navbar_items navbar-collapse collapse">
        <form class="navbar-form navbar-left" role="search" id="main-search">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search User"/>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go</button>
                </span>
            </div>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">

        </ul>
      </div>
    </div>
  </div>

  <div th:if="${message != null}" class="alert alert-success" th:text="${message}"></div>

</div>


<div th:fragment="footerFragment">
  <div id="footer">
    <div class="container">
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><a th:href="@{/}">Home</a></li>
          <li><a th:href="@{/}">Help</a></li>
        </ul>
      </div>
      <div class="col-md-9">
        <span>&copy; Copyright 2016</span>
      </div>
    </div>
  </div>

  <script th:src="@{/js/common.js}"></script>
</div>


</body>
</html>