.label-international-grandmaster {
    background-color: #c9302c;
}

.label-grandmaster {
    background-color: #d9534f;
}

.label-international-master {
    background-color: #ec971f;
}

.label-master {
    background-color: #f0ad4e;
}

.label-candidate-master {
    background-color: #634190;
}

.label-expert {
    background-color: #337ab7;
}

.label-specialist {
    background-color: #449d44;
}

.label-pupil {
    background-color: #7fb883;
}

.label-newbie {
    background-color: #777;
}

.rank-green {
    background-color: #d7febe;
}

.rank-red {
    background-color: #fecdbe;
}

.rank-passed {
    color: #0a0;
    font-weight: bold;
}

.rank-failed {
    color: red;
    font-weight: bold;
}

.rank-rejected {
    color: #00a;
}

.rank-time-cf {
    color: gray;
    font-size: 9px;
    display: block;
}

.rank-time-icpc {
    font-size: 1.0rem;
    display: block;
}

.rank-total-points {
    font-weight: bold;
}

.rank-problem-points {
    font-size: 1.0rem !important;
}

.table>thead>tr>th {
    vertical-align: middle;
    font-size: 1.3rem;
}

.table>tbody>tr>td {
    vertical-align: middle;
    font-size: 1.3rem;
}